.hero-container {
  max-width: 900px;
  margin: 0 auto;
}
.product-card {
  max-width: 445px;
}

.product-card:nth-child(odd) {
  margin-left: 0;
}
.product-card:nth-child(even) {
  transform: translate(100%, 0);
  margin: 8rem 0;
}
.border-top-pink {
  border-top: 1px solid #e31e79;
  padding: 12px 0 0;
  box-sizing: border-box;
}

.card-shape-top::before {
  content: " ";
  background: url(/card-shape-top.svg) no-repeat;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: -28px;
  left: 0;
  height: 33px;
  z-index: 10;
}
.card-shape-top::after {
  content: " ";
  background: url(/card-shape-bottom.svg) no-repeat;
  width: 104%;
  background-size: cover;
  position: absolute;
  bottom: -30px;
  left: -2px;
  height: 36px;
  z-index: 10;
}

.card-shape-top {
  position: relative;
}
.vide-custom-width {
  width: 98%;
  margin: 4px auto 0;
}
.card-heading {
  font-size: 1.8rem;
  line-height: normal;
}
.semi-heading {
  font-size: 1.4rem;
  color: #6d6e71;
}
.semi-heading-2 {
  color: #6d6e71;
  font-size: 1.12rem;
  font-weight: 400;
}
.card-text {
  font-size: 1rem;
  color: #6d6e71;
}
@media screen and (max-width: 768px) {
  .product-card:nth-child(even) {
    transform: translate(0, 0);
    margin: 4rem 0;
  }
}
