
header nav a,
.about-text{
  color: #1A1A1A;
  font-size: 1.54rem;
}
.radio-logo img{
  margin-top: -1rem;
}
.footer-heading-text{
color: #E31E79;
font-size: 28px;
font-style: normal;
font-weight: 400;
}

@media screen and (min-width: 768px) {
  .gradient-bg {
    transition: none;
    position: relative;
    z-index: 1;
  }
  .gradient-bg::after {
    content: " ";
    background: url(/header-curve.png) no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 10rem;
    background-size: cover; /* or contain */
    z-index: -1; /* keep it behind content if needed */
    top: 0;
  }
}
